{% extends  app.user.roles.0 is same as('candidate')  ? "base_candidate.html.twig" : "base_company.html.twig" %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <form method="post" enctype="multipart/form-data">
        <div class="grid-container">
            <div class="grid-child-image">
                <h1>Modifier votre profil</h1>
                <img src="{{ asset('build/images/edit_profile.svg') }}" alt="man adding content to a website"/>
            </div>
            <img src="{{ asset('build/images/profile_edit_mobile.svg') }}" alt="woman editing a site on her phone"/>
            <div class="grid-child-form">
                {{ form_start(profileForm) }}
                {{ form_label(profileForm.username, "Nom d'utilisateur", {
                    label_attr: { class: 'label' }
                }) }}
                {{ form_row(profileForm.username, {
                    attr: { placeholder: "Modifier votre nom", class: 'placeholder' }
                }) }}
                <hr class="input_line">
                {{ form_label(profileForm.location, "Localisation", {
                    label_attr: { class: 'label' }
                }) }}
                {{ form_row(profileForm.location, {
                    attr: { placeholder: "Ajoutez votre lieu de résidence", class: 'placeholder' }
                }) }}
                <hr class="input_line">
                {{ form_label(profileForm.bio, "Bio", {
                    label_attr: { class: 'label' }
                }) }}
                {{ form_row(profileForm.bio, {
                    attr: { placeholder: "Parlez-nous de vous", class: 'placeholder' }
                }) }}
               <hr class="input_line">
                {{ form_label(profileForm.linkedin, "Linkedin", {
                    label_attr: { class: 'label' }
                }) }}
                {{ form_row(profileForm.linkedin, {
                    attr: { placeholder: "Ajoutez votre profil linkedin", class: 'placeholder' }
                }) }}
                <hr class="input_line">
                {{ form_label(profileForm.image, "Image profil", {
                    label_attr: { class: 'label' }
                }) }}
                {{ form_row(profileForm.image, {
                    attr: { placeholder: "Ajoutez votre image", class: 'placeholder' }
                }) }}

                {{ parent() }}
                {% if app.user.roles.0 is not same as('candidate') %}
                    {{ form_start(companyForm) }}
                    {{ form_label(companyForm.siret, "Siret No.", {
                        label_attr: { class: 'label' }
                    }) }}
                    {{ form_row(companyForm.siret, {
                        attr: { placeholder: "Ajouter votre siret no.", class: 'placeholder' }
                    }) }}
                    <hr class="input_line">
                    {{ form_label(companyForm.adress, "Adresse", {
                        label_attr: { class: 'label' }
                    }) }}
                    {{ form_row(companyForm.adress, {
                        attr: { placeholder: "Ajouter votre adresse", class: 'placeholder' }
                    }) }}
                    <hr class="input_line">
                    <button type="submit" class="btn">Envoyer</button>
                    {{ form_end(companyForm) }}
                {% endif %}
                {{ parent() }}
                {% if app.user.roles.0 is same as('candidate') %}
                    {{ form_start(candidateForm) }}
                    {{ form_label(candidateForm.github, "Github", {
                        label_attr: { class: 'label' }
                    }) }}
                    {{ form_row(candidateForm.github, {
                        attr: { placeholder: "Ajouter votre Github", class: 'placeholder' }
                    }) }}
                    <hr class="input_line">


                    {{ form_end(profileForm) }}
                    {{ form_end(candidateForm) }}

                <button type="submit" class="btn">Envoyer</button>
                {{ form_end(profileForm) }}
                {% endif %}
    </form>


    </div>
    </div>


{% endblock %}

