{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    {#    Section en tête de la page d'accueil #}
    <div class="containerHomePage">
        <div class="containerHomePageTitle">
{#            <h1 class="homePageTitle">Externatic</h1>#}
            <h2 class="hiddenMobileTitle">Plus qu'un cabinet de recrutement informatique</h2>
            {% if app.user is defined and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="btn btn-primary">Dashboard</a>
            {% endif %}

            {% if is_granted('ROLE_COMPANY') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CANDIDAT') %}
            <img class="img-logo" src="{{ asset('build/images/logo.png') }}">
            {% else %}
                <h5 class="card-title">Pas encore inscrit ?</h5>
                <p class="card-text">Rejoignez Externatic en quelques secondes !</p>
                <a href="{{ path('app_register') }}" class="btn btn-primary">Inscription</a>
            {% endif %}
        </div>
        <div class="containerHomePageImg">
            <img class="homePageImg" src="{{ asset('build/images/homePage.svg') }}" alt="home page image">
        </div>
    </div>

    {# Barre de recherche pour les users non co ou avec rôle CANDIDAT +  8derniers jobs parus sur le site #}
    {% if app.user is null or is_granted('ROLE_CANDIDAT') %}
        {{ include('home/searchBarCandidate.html.twig') }}
    {% endif %}
    {# Barre de recherche pour les users avec rôle COMPANY +  8derniers candidats inscrits sur le site #}
    {% if is_granted('ROLE_COMPANY') or is_granted('ROLE_ADMIN') %}
        {{ include('home/searchBarCompany.html.twig') }}
    {% endif %}

    {# Section pour les outils de préparation à candidature #}
    <div id="carouselExampleCaptions" class="carousel slide">
        <h1 class="carouselTitle"> Préparez votre avenir avec nos nombreux partenaires et outils !</h1>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="carouselLinks" href="https://www.canva.com/fr_fr/creer/cv/">
                    <img src="{{ asset('build/images/cvHome.svg') }}" class="d-block w-100" alt="CV image">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Prépare-toi avec un bon CV</h5>
                    <p><a class="carouselLinks" href="https://www.canva.com/fr_fr/creer/cv/">Rends-toi sur le site ici
                            et met toutes les
                            chances de ton côté !</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <a class="carouselLinks"
                   href="https://www.pole-emploi.fr/candidat/vos-recherches/preparer-votre-candidature/10-astuces-pour-ecrire-votre-let.html">
                    <img src="{{ asset('build/images/letterHome.svg') }}" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Prépare-toi avec une bonne lettre de motivation</h5>
                    <p>
                        <a class="carouselLinks"
                           href="https://www.pole-emploi.fr/candidat/vos-recherches/preparer-votre-candidature/10-astuces-pour-ecrire-votre-let.html">Tous
                            les conseils pour écrire ta plus belle lettre !</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <a class="carouselLinks"
                   href="https://www.welcometothejungle.com/fr/articles/entretien-questions-preparer">
                    <img src="{{ asset('build/images/interviewHome.svg') }}" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Prépare-toi à l'entretien</h5>
                    <p><a class="carouselLinks"
                          href="https://www.welcometothejungle.com/fr/articles/entretien-questions-preparer">Rends-toi
                            sur le site ici et met toutes les chances de ton côté !</a></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>


        <div class="cardRegister">
            <img src="{{ asset('build/images/registration.svg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{ path('app_about') }}" class="btn btn-primary aboutUs-btn">A propos de nous</a>
            </div>
        </div>

{% endblock %}
