{% extends 'base.html.twig' %}

{% block title %}Applicants{% endblock %}

{% block body %}

<h1>Applicants</h1>

    <p class="favoriteTitle">{{ applications.job.title }}</p>
    <p>Votre message : {{ applications.message }}</p>

        {% for application in applications %}
            <div class="favoriteJobs">
                <p class="favoriteTitle">{{ application.job.title }}</p>
                <p class="favoriteTitle">{{ application.candidate.name }}</p>
                <p>Votre message : {{ application.message }}</p>
                <p class="jobAddress">Status : {{ application.status }}</p>
            </div>
        {% endfor %}
{% endblock %}
