{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    <h1>Mes offres d'emplois</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Titre du poste</th>
                <th>Localisation</th>
                <th>Description</th>
                <th>Date de début du contrat</th>
                <th>Salaire</th>
{#                <th>City</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.adress }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.startDate ? job.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ job.salary }}</td>
                <td>{{ job.city }}</td>
                <td>
                    <a href="{{ path('app_job_show', {'id': job.id}) }}">Voir l'offre</a>
                    <a href="{{ path('app_job_edit', {'id': job.id}) }}">Modifier l'offre</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune offre d'emploi publiée pour le moment...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_new') }}">Créer une offre d'emploi</a>
{% endblock %}
