
{% extends 'base.html.twig' %}

{% block title %}Détails de l'emploi{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('application') %}
    <div class="registered">
        {{ message }}
    </div>
    {%  endfor %}
<div class="grid-container-profile">
    <div class="grid-child-image">
        <h1>{{ job.title }}</h1>
    <h2>{{ job.company.user.username }}</h2>
        {% if job.company.user.image is defined and job.company.user.image is not null %}
            <img class="avatar" src="{{ asset('uploads/images/' ~ job.company.user.image) }}" alt="company profile image">
            {% else %}
        <img src="{{ asset('build/images/office.svg') }}" alt="office workers"/>

    {% endif %}
        <div>
        <a class="connection" href="{{ path('app_profile_company', {'id': job.company.id}) }}" >Voir l'entreprise</a>
        </div>
    </div>
    <div class="child-bio">
<div>
                <h2>Adresse:</h2>
    <p>{{ job.adress }}</p>
    </div>
            <div>
                <h2>Description:</h2>
                <p>{{ job.description }}</p>
            </div>
            <div>
                <h2>Début du contrat:</h2>
                <p>{{ job.startDate ? job.startDate|date('Y-m-d') : '' }}</p>
            </div>
            <div>
                <h2>Salaire:</h2>
                <p>{{ job.salary }}</p>
            </div>
            <div>
                <h2>Ville:</h2>
                <p>{{ job.city }}</p>
            </div>
        <div>
            <!-- Intégration du composant LikelistLiveComponent avec le bouton -->
            {{ component('Likelist', {'job': job}) }}
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">

        </script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js">

        </script>
    </div>
        <div class="jobButtons">
            <!-- Bouton postuler-->
            <a href="{{ path('app_apply_job', {'id': job.id}) }}" class="jobBtns">Postuler</a>
        </div>
    <div class="jobButtons">
        <a href="{{ path('app_job_index') }}" class="jobBtns">Retour</a>
    </div>
        <div class="jobButtons">
        {% if is_granted('ROLE_COMPANY') %}
        <a href="{{ path('app_job_edit', {'id': job.id}) }}" class="jobBtns">Modifiez votre annonce</a>
            <div class="jobButtons">
        {{ include('job/_delete_form.html.twig') }}
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
