<nav class="company-nav-links">
    <figure><a href="{{ path('app_home') }}"><img class="logo-nav"
                                                  src="{{ asset('build/images/logo_black_fond_transparent_horizontal.png') }}"
                                                  alt="Logo de l'entreprise externatic"></a></figure>

    <div class="dropdown-company">
        <button class="dropdown-btn-company">
            {{ app.user.username }} ▼
        </button>
        <div class="dropdown-content-company">
            <p><a class="dropdown-content-item-company" href="{{ path('app_profile') }}">Mon profil</a></p>
         <p><a class="dropdown-content-item-company" href="{{ path('app_job_new') }}">Créer une offre d'emploi</a><p>
            <p><a class="dropdown-content-item-company" href="{{ path('app_job_index') }}">Mes offres d'emploi</a></p>
            <p><a class="ddropdown-content-item-company" href="{{ path('app_favorite_candidates') }}">Mes favoris</a></p>
            <p><a class="dropdown-content-item-company" href="{{ path('app_logout') }}">Se déconnecter</a></p>
        </div>
    </div>
</nav>
