<nav class="company-nav-links">
    <figure><a href="{{ path('app_home') }}"><img class="logo-nav"
                                                  src="{{ asset('build/images/logo_black_fond_transparent_horizontal.png') }}"
                                                  alt="Logo de l'entreprise externatic"></a></figure>

    <div class="dropdown m-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ app.user.username }}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_profile') }}">Mon profil</a></li>
{#            <li><a class="dropdown-item" href="{{ path('app_job_new') }}">Créer une offre d'emploi</a></li>#}
            <li><a class="dropdown-item" href="{{ path('app_job_index') }}">Mes offres d'emploi</a></li>
            <li><a class="dropdown-item" href="{{ path('app_favorite_candidates') }}">Mes favoris</a></li>
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
        </ul>
    </div>
</nav>

{#{% extends 'base.html.twig' %}#}
{#{% if app.user %}#}

{#    {{ app.user.email }}#}

{#    <a href="{{ path('app_logout') }}"> Se déconnecter</a>#}

{#{% else %}#}

{#    <a href="{{ path('app_login') }}"> Se connecter</a>#}

{#{% endif %}#}
