<nav>
    <div class="nav_company">
{#        <a href="{{ path('app_home') }}">#}
            <img class="logo-nav" src="{{ asset('build/images/logo_white_fond_transparent_horizontal.png') }}">
{#        </a>#}
        <div class="links">
            <a href="{{ path('app_login') }}" style="text-decoration: none; color: black">Candidat</a>
            <a href="{{ path('app_login') }}" style="text-decoration: none; color: black">Entreprise</a>
        </div>
    </div>
</nav>

{#{% extends 'base.html.twig' %}#}
{#{% if app.user %}#}

{#    {{ app.user.email }}#}

{#    <a href="{{ path('app_logout') }}"> Se déconnecter</a>#}

{#{% else %}#}

{#    <a href="{{ path('app_login') }}"> Se connecter</a>#}

{#{% endif %}#}
