
<base_footer class="base_footer">
    <div class="footer-top">
        <img class="logo-footer" src="{{ asset('build/images/logo_white_fond_transparent 2.png') }}">
        <div class="footer-col">
            <h3 class="title-footer">Notre Entreprise</h3>
            <a href="{{ path('app_about') }}">A propos</a>
            <a href="{{ path('app_aboutCompany') }}">Histoire de l'entreprise</a>
        </div>
        <div class="footer-col">
            <h3 class="title-footer">Nos partenaires</h3>
            <a href="https://www.canva.com/">Canva</a>
            <a href="https://www.pole-emploi.fr/accueil/">Pole Emploi | France Travail</a>
        </div>
        <div class="footer-col">
            <h3 class="title-footer">Les emplois</h3>
            <a href="#">Récents</a>
            <a href="{{ path('app_favorite_jobs') }}">Favoris</a>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="https://www.facebook.com/externatic" class="social"  target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="https://www.instagram.com/externatic" class="social"  target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://twitter.com/Externatic" class="social"  target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
    </div>
    <div class="copyright">
        Copyright © Externatic 2024 • Tous droits réservés • <a> Mentions Légales</a>
    </div>
    <div class="Team">
        Made by <a href="{{ path('app_about') }}">EternaticTeam • Wild Code School</a>
    </div>
</base_footer>

<script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>

