<nav>
<div class="nav">
{#    <a href="{{ path('app_home') }}">#}
        <img class="logo-nav" src="{{ asset('build/images/logo_black_fond_transparent.png') }}">
{#    </a>#}
    <div class="links">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if app.user %}
                    {% if app.user.username is defined and app.user.username is not null %}
                  {{ app.user.username }}
                    {% endif %}
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('app_profile') }}">Mon Profil</a>
                    <a class="dropdown-item" href="#">Mes Favoris</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            </div>
        <a href="{{ path('app_login') }}" style="text-decoration: none; color: #FFFFFF">Candidat</a>
        <a href="{{ path('app_login') }}" style="text-decoration: none; color: #FFFFFF">Entreprise</a>

    </div>
</div>
</nav>

{#{% if app.user %}#}

{#    {{ app.user.email }}#}

{#    <a href="{{ path('app_logout') }}"> Se déconnecter</a>#}

{#{% else %}#}

{#    <a href="{{ path('app_login') }}"> Se connecter</a>#}

{#{% endif %}#}
