<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barre de navigation</title>
</head>
<body>
<nav class="nav-links">
        <img class="logo-nav" src="{{ asset('build/images/logo_white_fond_transparent_horizontal.png') }}">
        <div class="Menu-deroulant">
            {% if is_granted('ROLE_CANDIDAT') %}
                    <ul class="links-menu-deroulant">{{ app.user.username }}
                        <li class="sub-menu">
                            <a href="{{ path('app_profile') }}" title="Mon profil">Mon Profil</a>
                        </li>
                        <li class="sub-menu">
                            <a href="#" title="Mes favoris">Mes Favoris</a>
                        </li>
                        <li class="sub-menu">
                            <a href="{{ path('app_logout') }}" title="se déconnecter">Se déconnecter</a>
                        </li>
                    </ul>
                </label>
            {% else %}
                <a href="{{ path('app_login') }}">Candidat</a>
                <a href="{{ path('app_login') }}" >Entreprise</a>
            {% endif %}
        </div>
</nav>

