<nav class="nav-links">
    <figure><a href="{{ path('app_home') }}"><img class="logo-nav"
                                                  src="{{ asset('build/images/logo_white_fond_transparent_horizontal.png') }}"
                                                  alt="Logo de l'entreprise externatic"></a></figure>
    {% if is_granted('ROLE_CANDIDAT') %}
        <div class="dropdown">
            <button class="dropdown-btn">
                {{ app.user.username }} ▼
            </button>
            <div class="dropdown-content">
                <p><a class="dropdown-content-item" href="{{ path('app_profile') }}">Mon profil</a></p>
                <p><a class="dropdown-content-item" href="{{ path('app_appliedJobs') }}">Mes candidatures</a></p>
                <p><a class="dropdown-content-item" href="{{ path('app_favorite_jobs') }}">Mes favoris</a></p>
                <p><a class="dropdown-content-item" href="{{ path('app_logout') }}">Se déconnecter</a></p>
            </div>
        </div>

    {% else %}

        <div class="sideBySide">
            <a class="no-connected" href="{{ path('app_login') }}">Candidat</a>
            <a class="no-connected" href="{{ path('app_login') }}">Entreprise</a>
        </div>

    {% endif %}

</nav>
