{% extends 'base.html.twig' %}

{% block title %}Liste des candidatures{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="grid-child-image">
        <h1>Liste des candidatures</h1>
        <img src="{{ asset('build/images/pull.svg') }}" alt="pull-request"/>
    </div>
    <div class="grid-child-form">
    {% if applications is not empty %}
            {% for application in applications %}
        <div class="favoriteJobs">
            <div class="jobInfo">
            <a class="clickLink" href="{{ path('app_job_show', {'id': application.job.id}) }}">{{ application.job.title }}</a>
            </div>
                   <p>Votre message : {{ application.message }}</p>
                    <p>Statut : {{ application.status }}</p>
        </div>
            {% endfor %}
    {% else %}
        <p>Aucune candidature trouvée</p>
    {% endif %}
{% endblock %}
