{% extends 'base.html.twig' %}

{% block title %}Mes jobs favoris{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="grid-child-image">
            <h1>Emplois Favoris</h1>
            <img src="{{ asset('build/images/favoritejob.svg') }}" alt="woman holding a heart"/>
        </div>
        <div class="grid-child-form">
            {% if favoriteJobs is empty %}
                <h2>Aucun emploi en favori</h2>
            {% else %}
                    {% for job in favoriteJobs %}
                        <div class="favoriteJobs">
                                <a class="clickLink" href="{{ path('app_job_show', {'id': job.id}) }}">{{ job.title }}</a>
                            <p class="jobAddress">{{ job.adress}}</p>
                            <p class="jobAddress">{{ job.city}}</p>
                            <p>{{ job.description}}</p>
                            <p class="jobSalary">Salaire: € {{ job.salary}}</p>
                            <p class="jobAddress">Date de début du contrat: {{ job.startDate|date('Y-m-d') }}</p>
                        </div>
                    {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
